*{
    scroll-behavior: smooth !important;
    }

html {
    background-color: rgb(252, 252, 252);
}

body {
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.125rem;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    justify-content: center;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.container-two {
    background-color: rgba(219, 207, 207, 0.103);
    padding-bottom: 100px;
    margin-top: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228); 
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.navbutton {
    border: 1px solid black;
    padding: 7px 18px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin: 0px 15px;
}

.navbutton:hover {
    background-color: #11161267;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}


.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left: 30px;
}

.section-title {
    display: flex;
    justify-content: center;
}

.card-images{
    width: 100%;
    height: 200px;
}

.card-projects {
    width: 45%;
    padding: 0 0 20px 0;
}

.container-three{
    padding-bottom: 100px;
    background-color: unset;
    margin-top: 0;;
}